<div class="form-container">
    <h1>
        Change Password
    </h1>
    <form [formGroup]="codeSubmition" (ngSubmit)="sendChangePasswordRequest()">
        <div *ngIf="!passwordChangeRequestSent" class="form-field">
            <label for="email">Email</label>
            <input 
            [class.error] = "(email.invalid && (email.dirty || email.touched))"
            type="email" 
            placeholder="test@example.com" 
            name="email" 
            formControlName="email"
            required />
            <small
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="s-error"
                    >
                <div *ngIf="email.errors?.['required']">Email is required.</div>
                <div *ngIf="email.errors?.['email']">Email should be valid</div>
            </small>
        </div>
        <button type="button" *ngIf="!passwordChangeRequestSent" class="submit-button" (click)="sendConfirmationCodeRequest()">
            Send code
        </button>
        <div *ngIf="passwordChangeRequestSent" class="form-field">
            <div class="form-field">
                <label for="email">Please enter the confirmation code sent to your registered email.</label>
                <input 
                type="text" 
                name="code" 
                formControlName="code"
                required />
            </div>
            <small *ngIf="isInvalidCode" class="s-error">
                <div *ngIf="isInvalidCode">Invalid code</div>
            </small>
        </div>
        <div *ngIf="passwordChangeRequestSent" class="form-field">
            <label for="password">New Password</label>
            <input 
            [class.error] = "(password.invalid && (password.dirty || password.touched))"
            type="password" 
            name="password" 
            formControlName="password"
            required />
            <small
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="s-error"
          >
            <div *ngIf="password.errors?.['required']">Password is required.</div>
          </small>
        </div>
        <small *ngIf="passwordChangeRequestSent" style="margin-top: -2px;">
            <div [class.error]="(password.dirty || password.touched) && password.errors?.['hasLowerCase']" 
                [class.valid]="(password.dirty || password.touched) && !password.errors?.['hasLowerCase']" >
              At least 1 lowercase character
            </div>
            <div [class.error]="(password.dirty || password.touched) && password.errors?.['hasUpperCase']" 
                [class.valid]="(password.dirty || password.touched) && !password.errors?.['hasUpperCase']" >
              At least 1 uppercase character
            </div>
            <div [class.error]="(password.dirty || password.touched) && password.errors?.['hasSpecialCharacter']" 
                [class.valid]="(password.dirty || password.touched) && !password.errors?.['hasSpecialCharacter']" >
              At least 1 special character
            </div>
            <div [class.error]="(password.dirty || password.touched) && password.errors?.['hasNumber']" 
                [class.valid]="(password.dirty || password.touched) && !password.errors?.['hasNumber']" >
              At least 1 number
            </div>
            <div [class.error]="(password.dirty || password.touched) && password.errors?.['sufficientLength']" 
                [class.valid]="(password.dirty || password.touched) && !password.errors?.['sufficientLength']" >
              At least 8 characters
            </div>
          </small>

          <button *ngIf="passwordChangeRequestSent" class="submit-button" [disabled]="codeSubmition.invalid" type="submit">
            Change Password
        </button>
    </form>
</div>